.generalButton {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-padding: 30px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-width: 300px;
}

.bold {
    -fx-font-weight: bold;
}

.big {
    -fx-font-size: 1.5em;
}

.tScores {
    -fx-background-color: paleturquoise;
    -fx-fill-widht: true;
    -fx-alignment: center;

    -fx-padding: 30px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.tScores > * {
    -fx-fill: #0e450e;
    -fx-font-size: 1.2em;
}

.spacer {
    -fx-padding: 20px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.vBoxScore {
    -fx-alignment: center;
}

.background {
    -fx-background-color: #161616;
}

.grille {
    -fx-vgap: 2;
    -fx-hgap: 2;
    -fx-padding: 2;
}

.score {
    -fx-fill: rgb(228, 228, 228);
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
}

.lbl {
    -fx-fill: rgb(190, 190, 190);
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI Semilight";
    -fx-padding: 0 0 15px 0;
}